#page_detail {
  max-width: 100dvw;
  position: relative;
  top: var(--page-top);
  padding: var(--page-pad);
  background: var(--bg-base);
  color: var(--text-base);
  user-select: text;
  overflow-x: hidden;
  flex-direction: column;


  #page_detail_header {
    background: var(--bg-base);
    padding: var(--gap-xxl) 0;
    display: none;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 28px;
      font-weight: 800;
      padding: 0 0 var(--gap-xl);
    }

    #header_row {
      padding-top: var(--gap-xl);
      display: flex;
      overflow-x: auto;
      gap: var(--gap-l);
      white-space: nowrap;
      max-width: 95%;

      * {
        padding: var(--pad-m);
        flex: 0 0 auto;
        background: var(--btn-bg);
        border-radius: var(--radius-m);
        cursor: pointer;
      }
    }
  }
}

.sticky #header_row {
  max-width: 85%;
}


#btn_scrollTop {
  border-radius: var(--radius-m);
  padding: var(--gap-xl);
  position: fixed;
  bottom: 2.5dvh;
  right: var(--gap-xxl);
  display: none;
  color: var(--text-base);
  background: var(--btn-bg);
  cursor: pointer;
  box-shadow: var(--shadow-m);
  opacity: 0.7;
  z-index: 10;
}

#btn_calculator {
  border-radius: var(--radius-m);
  padding: var(--gap-xl);
  position: fixed;
  bottom: 2.5dvh;
  right: var(--gap-xxl);
  color: var(--text-base);
  background: var(--btn-bg);
  cursor: pointer;
  transition: transform .2s ease-out;
  box-shadow: var(--shadow-m);
}